/*
 * -------------------------------------------------
 *  nf-core/ginkgo Nextflow base config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */

process {

  executor='sge'
  clusterOptions = '-l mem=24G'

  cpus = 1
  penv = "smp"
  time = 12.h

  beforeScript = 'source $HOME/.bashrc;module load blic-modules; module load bioconda'
  echo = true


  withName: bwa {
    cpus = 1
    time = 48.h
    memory = 64.Gb
    module = 'bwa/0.7.12/gnu-4.9.2'
  }


  withName: picard {
    module = 'java/1.8.0_92:picard-tools/2.18.9'
  }

  withName: ginkgo {
    module = 'ginkgo'
  }

  withName: get_software_versions {
    module = 'java/1.8.0_92:picard-tools/2.18.9'
  }

  errorStrategy = { task.exitStatus in [143,137] ? 'retry' : 'finish' }
  maxRetries = 1
  maxErrors = '-1'

}


params {

  genomes {

    'GRCh37'      { bwa = "/scratch/scratch/regmr01/Homo_sapiens/UCSC/hg19/Sequence/BWAIndex/"
                    fasta = "/scratch/scratch/regmr01/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.fa"
                  }
    'GRCh38'      { bwa = "/scratch/scratch/regmr01/Homo_sapiens/UCSC/hg38/Sequence/BWAIndex/"
                    fasta = "/scratch/scratch/regmr01/Homo_sapiens/UCSC/hg38/Sequence/WholeGenomeFasta/genome.fa"
                  }
    'GRCm38'      { bwa = "/scratch/scratch/regmr01/Mus_musculus/UCSC/mm10/Sequence/BWAIndex/"
                    fasta = "/scratch/scratch/regmr01/Mus_musculus/UCSC/mm10/Sequence/WholeGenomeFasta/genome.fa"
                  }
  }

  // Defaults only, expecting to be overwritten
  max_memory = 128.GB
  max_cpus = 16
  max_time = 240.h
}
